<div class="input-group">
    <input type="text" class="form-control" placeholder="Add New Team" ng-model="newTeamName" />
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addNewTeam(newTeamName)" ng-disabled="!isTeamNameValid(newTeamName)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </span>
</div>

<div ng-hide="!!teams.length">
    Add team above.
</div>

<div class="panel-group" ng-show="!!teams.length">
    <div class="panel panel-default" ng-repeat="team in teams track by team.teamNameNormalized">
        <div class="panel-heading">
            <h4 class="panel-title clearfix" ng-click="setTeamOpen(team)">
                <span class="pull-left">{{team.teamName}}&nbsp;</span>
                <span class="pull-right badge">{{team.members.length}}</span>
                <a href="" ng-show="openTeam === team" title="Remove team" ng-click="removeTeam(team)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </h4>
        </div>
        <div uib-collapse="openTeam !== team">
            <div ng-show="!team.members.length">
                No members added for team {{team.teamName}} so far
            </div>        
            <ul ng-hide="!team.members.length">
                <li ng-repeat="member in team.members">
                    <div>
                        <span data-toggle="tooltip" tooltip-placement="bottom" uib-tooltip-template="'../common/components/teams/employee.tpl.html'">
                            {{member.name}}
                        </span>
                        <!--<span class="pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>