<div class="input-group">
    <span class="input-group-addon" id="filter">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
    <input type="text" class="form-control" placeholder="Filter" aria-describedby="filter" ng-model="search.filter" ng-change="doSearch(true)" ng-model-options="{debounce: 300}" />
</div>
<div ng-show="search.filter.trim().length < 3">
    Please input at least 3 characters to search field
</div>
<div ng-show="search.filter.trim().length >= 3 && search.filteredMembers.length === 0">
    Nothing to show
</div>
<div ng-show="search.filter.trim().length >= 3 && search.filteredMembers.length > 0">
    <uib-pagination total-items="search.totalCount" ng-model="search.currentPage" items-per-page="search.pageSize" force-ellipses="true" ng-change="doSearch(false)"></uib-pagination>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Job Title</th>
            <th>Age</th>
            <th>Grade</th>
        </thead>
        <tbody>
            <tr ng-repeat-start="member in search.filteredMembers" ng-click="selectEmployee(member)">
                <td>{{member.name}}</td>
                <td>{{member.job}}</td>
                <td>{{member.age}}</td>
                <td>{{member.grade}}</td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="4" class="no-padding">
                    <div uib-collapse="selectedEmployeeId !== member._id">
                        <h4>Reviews:</h4>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>